# Clojure
.cpcache/
.nrepl-port
.lsp/
target/
.clj-kondo

# Development
.rebel_readline_history
.calva/

# Logs
*.log

# Environment
.env
.env.local

# IDE
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node/NPM
node_modules/
package-lock.json

# Compiled CSS
resources/public/css/styles.css