{:generated-at "2025-10-03T12:35:20.589837Z",
 :slug "pickle-ball",
 :menu-item true,
 :content
 "<h2 style=\"font-family: sans-serif; color: black; text-align: center;\">&nbsp;</h2>\n<p>&nbsp;</p>\n<p style=\"text-align: center;\">Come Join Us For Pickle Ball Every Monday at 5:00 PM</p>",
 :original-name "Pickle Ball",
 :static true,
 :title "Pickle Ball",
 :menu-label "Pickle Ball",
 :node-id "2a2aca9f-2285-4563-aaca-9f2285c563e9"}
